@{
    ViewBag.Title = "CK Product Search";
}

@using (Html.BeginForm())
{
    //hidden fields below here


 //search area below here
 <div class="panel panel-primary">
     <div class="panel-heading">
         <h1 class=" ="panel-title">Search For Products</h1>"
     </div>
     <div class="panel-body">
         <div class="form-group">
             @Html.Label("Product Name")
             @Html.TextBox("SearchProductName", ""), new { @class="form-control" })
         </div>
     </div>

     <div class="panel-footer"></div>
 </div>


 //list area below here




}


@section scripts
{
    <script>


    </script>
    }